body {
  background: #e5e5e5;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  background: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.logo {
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
  align-items: center;
  width: 100%;
}
.search {
  height: 44px;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.2);
}
.main-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  margin-right: auto;
  padding: 0 0 0 0.5rem;
}

.table-container {
  overflow-x: scroll;
  max-width: 380px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* @media (min-width: 768px) { */
@media (min-width: 381px) {
  .table-container {
    max-width: none;
    background-color: inherit;
    overflow: hidden;
  }
}

.table {
  border-spacing: 0px;
  border-collapse: collapse;
}
.tr {
  border-bottom: 2px solid grey;
  border-color: grey;
}

.thead__text {
  padding: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  gap: 6px;
  color: #b0b0b0;
}

.thead__text.id {
  color: rgba(152, 115, 255, 1);
}

.arrow-up-and-down {
  width: 8px;
  height: 8px;
  transition: all 0.5s;
}
.turn-around {
  transform: rotate(180deg) translateX(-5px);
  gap: 6px;
  transition: all 0.5s;
}

.tbody {
}

.table__tr {
  font-weight: 400;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}

.table__tr .td__id {
  color: rgba(176, 176, 176, 1);
  font-size: 12px;
  padding: 12px;
}
.table__tr .td__name {
  color: rgb(63, 44, 44);
  font-size: 14px;
  padding: 12px;
}

.table__tr .td__createdAt {
  color: rgb(63, 44, 44);
  font-size: 14px;
  padding: 12px;
}

.td__updatedAt {
  color: rgb(63, 44, 44);
  font-size: 14px;
  padding: 12px;
}

.td_contacts {
  max-width: 104px;
  padding: 12px;
}

.td_actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 12px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.table__td {
  padding: 12px;
  font-size: 12px;
  color: #564747;
  text-align: left;
}

.table__sel {
  padding: 12px;
  font-size: 12px;
  color: #564747;
  text-align: left;
  border: none;
  background-color: #e5e5e5;
  margin-top: 4px;
}

.add-clients-container {
  display: flex;
  justify-content: center;
}

.btn-actions {
  border: none;
  background-color: inherit;
  font-size: 14px;
  padding: 0;
}
.btn-create-client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: rgba(152, 115, 255, 1);
  border: 1px solid rgba(152, 115, 255, 1);
  padding: 12px;
}

/* Spinner */

.loading {
  height: "24px";
  width: "24px";
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
