body {
  background: #e5e5e5;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0 auto;
  margin: 20px;
  max-width: 984px;
}

.header__container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  align-items: center;
  background: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 53px;
}
.header__search {
  display: flex;
  align-items: center;
}
.search {
  padding: 13px 16px;
  width: 659px;
  height: 44px;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}
.main-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.table {
  max-width: 984px;
}
.thead__text {
  padding: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #817c7c;
  text-align: left;
  gap: 6px;
}

.arrow-up-and-down{
  width: 8px;
  height: 8px;
  transition: all 1s;
}
.turn-around{
  transform: rotate(180deg) translateX(-5px) ;
  gap: 6px;
  transition: all 1s;

}

.tbody {
  /*  background-color: #fff; */
  /* height: 300px; */
}

.table__tr {
}

.table__td {
  /*  border-top: 1px solid #ddd; */
  padding: 12px;
  font-size: 12px;
  color: #564747;
  text-align: left;
}

.table__sel {
  padding: 12px;
  font-size: 12px;
  color: #564747;
  text-align: left;
  border: none;
  background-color: #e5e5e5;
  margin-top: 4px;
}

.add-clients-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
}

.btn-create-client{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: rgba(152, 115, 255, 1);
  border: 1px solid rgba(152, 115, 255, 1);
  padding: 12px;
}

/* Spinner */

.loading {
  height: "24px";
  width: "24px";
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

